@import "~bootstrap/scss/bootstrap";
.mainPage {
  height: 100vh;
  font-family: "Open Sans", sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  .brand {
    display: flex;
    align-items: center;
    .fab {
      font-size: 1.8em;
      margin: 5px;
      margin-right: 25px;
      animation: rotate 20s linear infinite;
    }
    .myBrand {
      display: inline-block;
      p {
        margin: 0;
      }
    }
  }
  .textnav {
    letter-spacing: 2px;
  }
  .mainPage__section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/Mainbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
canvas {
  position: absolute;
  height: 100%;
}

@keyframes bgcanim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Background position for smartphon
@media only screen and (max-width: 1025px) and (height: 1366px) {
  .mainPage {
    .mainPage__section {
      background-position-x: -340px;
    }
  }
}
@media only screen and (max-width: 750px) {
  .mainPage {
    .mainPage__section {
      background-position-x: -255px;
    }
  }
}
@media screen and (max-width: 420px) and (max-height: 830px) {
  .mainPage {
    .mainPage__section {
      background-position-x: -340px;
    }
  }
}
@media screen and (max-width: 420px) and (max-height: 740px) {
  .mainPage {
    .mainPage__section {
      background-position-x: -300px;
    }
  }
}

@media screen and (max-width: 380px) and (max-height: 732px) {
  .mainPage {
    .mainPage__section {
      background-position-x: -230px;
    }
  }
}
