@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.heading {
  text-align: center;
  margin-bottom: 90px;
  h5 {
    font-weight: 300;
    font-size: 0.8em;
  }
  h2 {
    font-weight: 300;
    span {
      font-size: 1em;
      font-weight: bold;
    }
  }
}

.bord {
  border-bottom: 1px solid rgba(240, 240, 240, 0.876);
}
.upperAndSpac {
  text-transform: uppercase;
  letter-spacing: 4px;
}
.margiTB {
  margin-bottom: 30px;
  padding-top: 100px;
}

@media (max-width: 680px) {
  .heading {
    margin-bottom: 40px;
  }
  .margiTB {
    padding-top: 60px;
  }
}
